coverage
node_modules
*.log
*.userprefs
*.tgz
*.rpm
.vagrant
.idea
dist
obj
bin
tmp
packages
out
paket-files
NuGetScratch
hosts
.history
results.xml
travis_env
include/copr-mfl
jest_0
.paket/Paket.Restore.targets
