source https://api.nuget.org/v3/index.json
storage:none

clitool dotnet-fable
clitool dotnet-fantomas
nuget Fable.Core
nuget Fable.Import.Node
nuget Fable.Import.NodeLibzfs
nuget Fable.Import.Jest
nuget Fable.Import.Node.PowerPack
nuget Fable.PowerPack
nuget Thoth.Json
