[Unit]
Description=IML Scanner Proxy Daemon
RefuseManualStart=true
Requires=device-scanner.socket
After=device-scanner.service
PartOf=scanner-proxy.path

[Service]
Restart=always
Environment=NODE_ENV=production
ExecStart=/usr/bin/node /usr/lib64/iml-scanner-proxy-daemon/scanner-proxy-daemon
StandardOutput=journal
StandardError=journal
