[Unit]
Description=IML Device Aggregator Socket
PartOf=iml-manager.target

[Socket]
ListenStream=/var/run/device-aggregator.sock
RemoveOnStop=true

[Install]
WantedBy=sockets.target
