[Unit]
Description=IML Device Aggregator Daemon
RefuseManualStart=true
BindsTo=device-scanner.socket

[Service]
Restart=always
Environment=NODE_ENV=production
ExecStart=/usr/bin/node /usr/lib64/iml-device-aggregator-daemon/device-aggregator-daemon
StandardOutput=journal+console
StandardError=journal+console
